.event {
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   width: 800px;
}
.logo {
   margin: 20px;
   width: 120px;
   float: right;
}
.head > div {
   display: inline-block;
}
.reg {
   text-align: right;
}
.reg > .amount {
   display: inline-block;

}
.reg > .registration {
   margin-left: 20px;
   padding-left: 10px;
   padding-right: 10px;
   display: inline-block;
   background-color: #183a72;
   border-radius: 10px;
   margin-right: 50px;
}
.registration > a {
   font-size: 30px;
   color: white;
   text-decoration: none;
}
.registration:hover {
   cursor: auto;
}
.title > h1 {
   margin-left: 20px;
   font-size: 50px;
}
.info {
   font-size: 20px;
}
.amount > h4 {
   font-size: 20px;
}
.title > h4 {
   font-size: 15px;
}
.comments {
   margin-left: 80px;
   width: 500px;
}
